.accordion {
    background-image: "kenney/images/blue_button03.png";
    background-image-slice: 5px 5px 40px 185px;
    spacing: 0;
}

.accordion-button {
    icon: "kenney/images/grey_arrowRightWhiteSquare.png";
    padding-left: 10px;
    background-image: "kenney/images/blue_button02.png";
    background-image-slice: 10px 10px 39px 180px;
    width: 100%;
    text-align: left;
    icon-position: left;
}

.accordion-button .label {
    margin: 0;
}

.accordion-button .image {
    margin: -2px;
}

.accordion-button:down {
    background-image: "kenney/images/blue_button03.png";
    background-image-slice: 5px 5px 40px 185px;
    icon: "kenney/images/grey_arrowDownWhiteSquare.png";
}

.accordion-button {
    background-image: "kenney/images/blue_button03_accordion_middle.png";
    background-image-slice: 5px 5px 40px 185px;
}

.accordion-button.first {
    background-image: "kenney/images/blue_button03_accordion_top.png";
    background-image-slice: 5px 5px 40px 185px;
}

.accordion-button.last {
    background-image: "kenney/images/blue_button03_accordion_bottom.png";
    background-image-slice: 5px 5px 40px 185px;
}

.accordion-button.last:down {
    background-image: "kenney/images/blue_button03_accordion_middle.png";
    background-image-slice: 5px 5px 40px 185px;
}

.accordion-page {
    padding: 7px;
}

.accordion-page {
    width: 100%;
    clip: true;
    opacity: 1;
    padding: 5px;
}

.accordion-page:expanded {
    animation: accordionAnimateExpand 0.3s ease 0s 1;
}

.accordion-page:collapsed {
    animation: accordionAnimateCollpase 0.3s ease 0s 1;
}

@keyframes accordionAnimateExpand {
    0% {
        opacity: 0;
        height: 0%;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

@keyframes accordionAnimateCollpase {
    0% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0;
        height: 0%;
    }
}
