/*******************************************************************/
/* CALENDARS                                                       */
/*******************************************************************/
.calendar {
   padding: 5px;
}

.calendar .button {
    padding: 10px;
    background-image: "kenney/images/grey_button02.png";
    background-image-slice: 5px 5px 40px 185px;
    color: #777b88;
    width: 40px;
}

.calendar .button .label {
    margin: 0;
}

.calendar .button:hover {
    padding: 10px;
    background-image: "kenney/images/blue_button03.png";
    background-image-slice: 5px 5px 40px 185px;
    color: white;
}


.calendar .calendar-day-selected {
    background-image: "kenney/images/green_button03.png";
    background-image-slice: 5px 5px 40px 185px;
    color: white;
}

/*******************************************************************/
/* CALENDAR VIEWS                                                  */
/*******************************************************************/
.calendar-view {
    padding: 10px;
    background-image: "kenney/images/grey_button02.png";
    background-image-slice: 5px 5px 40px 185px;
    background-image: "kenney/images/grey_button05.png";
    background-image-slice: 10px 10px 39px 180px;
}

.calendar-view .calendar {
    padding: 0px;
}

.calendar-view .hbox {
	spacing: 0;
}

.calendar-view #prev-month {
    icon: "kenney/images/grey_arrowLeftWhite.png";
    vertical-align: center;
    border: none;
    background-color: white;
}

.calendar-view #next-month {
    icon: "kenney/images/grey_arrowRightWhite.png";
    vertical-align: center;
    border: none;
    background-color: white;
}

.calendar-view #current-month {
    vertical-align: center;
}

.calendar-view #current-year {
    text-align: right;
    vertical-align: center;
	border: none;
	padding-top: 1px;
	__background-color: white;
}
.calendar-view #current-year .button {
	__background-color: white;
	border: none;
    height: 10px;
}
